*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

html {
  font-size: 62.5%;
}

.resulstwrapper {
  display: flex;
  justify-content: space-evenly;
  width: 96%;
  margin: auto;
  min-height: 300px;
}

.resulstwrapper .resulstwrapper__left {
  width: 30%;
  text-transform: capitalize;
  font-style: italic;
  font-size: 1.9rem;
}
.resulstwrapper .resulstwrapper__right {
  width: 70%;
}

.categorylist {
  display: flex;
  justify-content: flex-start;
}
.categorylist__item {
  list-style: none;
  padding: .5rem;
  display: flex;
  align-items: center;
}

.categorylist__item svg{
  margin-right: 5px;
  width: 1.6rem;
  height: 1.6rem;
}

.objectwrap{
  outline: 1px solid gray;
}