*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

html {
  font-size: 62.5%;
}

:root {
  --balck: #000;
  --white: #ffffff;
  --whiteTrans: #ffffffe3;
}

#root {
  width: 100%;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(../src/assets/bg.png) center center/cover no-repeat;
  min-height: 100vh;
}

.searchwrap {
  width: 60%;
  padding: 0 1rem;
  position: relative;
}
.searchwrap img {
  width: 100%;
}
@media screen and (width: 600px) {
  .searchwrap {
    width: 90%;
  }
}
@media screen and (width: 360px) {
  .searchwrap {
    width: 90%;
  }
}

.resulstwrapper {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 0.5rem 2rem;
  background: #dededecf;
  position: relative;
  top: -26px;
  border-radius: 0 0px 5px 5px;
}
.resulstwrapper--hide {
  display: none;
}

.resulstwrapper .resulstwrapper__left {
  color: var(--balck);
  width: 50%;
  text-transform: capitalize;
  font-style: italic;
  font-size: 1.9rem;
  cursor: pointer;
  border: transparent;
  background: transparent;
  outline: none;
}
.resulstwrapper .resulstwrapper__right {
  width: 60%;
  color: var(--balck);
  text-transform: capitalize;
  font-weight: bold;
}

.categorylist {
  display: flex;
  justify-content: flex-start;
}
.categorylist__item {
  list-style: none;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.categorylist__item svg {
  margin-right: 5px;
  width: 1.6rem;
  height: 1.6rem;
}

.objectwrap {
  border: 1px solid gray;
  margin: 0 0 25px 0;
  border-radius: 5px;
}

.objectwrap__heading {
  border-bottom: 1px solid #80808033;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  background: var(--whiteTrans);
}

.objectwrap__btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.error {
  color: #672323;
  font-style: normal;
  font-weight: bold;
}
