.App {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.resulstwrapper {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  margin: auto;
  outline: 1px solid red;
  min-height: 300px;
}

.resulstwrapper .resulstwrapper__left {
  outline: 1px solid orangered;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  text-transform: capitalize;
}
.resulstwrapper .resulstwrapper__right {
  outline: 1px solid yellowgreen;
  width: 45%;
}
